{% extends "base.html" %}
{% block content %}
<section class="uk-section uk-section-small">
    <div class="uk-container uk-width-2-3@m uk-margin-auto">
        <div uk-grid>
            <div class="uk-width-3-4 uk-width-1-2@s uk-width-1-3@m uk-margin-auto">
                <img src="{{static}}/images/portrait.jpg" alt="2020 Portrait of Alex Liebscher">
            </div>
            <div class="uk-width-1-1 uk-width-2-3@m uk-text-justify">
                <p>
                    I am a Research Scientist at <a href="https://www.betterup.com/">BetterUp</a>. Right
                    now I'm working on a core innovation team, where we do a mix of basic behavioral science
                    and cutting-edge technological innovation. I spend most of my time doing the latter.
                </p>
                <p>
                    I graduated from the University of California: San Diego, where I studied Cognitive Science 
                    and Mathematics and researched metaphor’s impact on behavior under 
                    <a href="http://www.cogsci.ucsd.edu/~bkbergen/">Ben Bergen</a>
                    and <a href="https://seantrott.github.io/">Sean Trott</a>. My passions lie at the
                    intersection of statistics and human behavior, where I can contribute to the development of
                    human-centered, data-driven technologies that positively impact people.
                </p>
                <p>
                    These days I'm living
                    in San Francisco's Mission district. I spend a lot of time going to see live music, art, and
                    local events. I really like to read (I'm currently reading a book from every country around the 
                    world). When someone else with a car offers to drive, I like to head up into the forests 
                    (backpacking, camping, hiking). For an explanation of my blog’s
                    title, <a href="https://liebscher.github.io/blog/2020/blog-origins/">see here</a>.
                </p>
                
            </div>
        </div>
    </div>
</section>
<section class="uk-section uk-section-secondary">
    <div class="uk-container">
        {% block content_title %}
        <div class="uk-text-center">
            <h1 class="uk-article-title smc">Tales From Diverse Spaces</h1>
            <p>The Language I Read That Makes Ideas Fit Together</p>
            <button class="uk-button uk-button-secondary uk-button-large uk-margin-medium" uk-toggle="target: #subscribe-modal">Subscribe</button>
            <div id="subscribe-modal" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Subscribe</h2>
                    </div>
                    <div class="uk-modal-body uk-margin-auto-vertical">
                        <form action="https://tinyletter.com/liebscher" method="post" class="uk-form-stacked"
                            target="popupwindow"
                            onsubmit="window.open('https://tinyletter.com/liebscher', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                            <label for="tlemail" class="uk-form-label">Subscribe to my infrequently published
                                newsletter:</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" name="email" id="tlemail" placeholder="name@email.com" />
                            </div>
                            <div class="uk-margin">
                                <input class="uk-button uk-button-default" type="submit" value="Submit" />
                            </div>
                            <input type="hidden" value="1" name="embed" />
                            <p>
                                <a href="https://tinyletter.com" target="_blank" style="font-size:70%;">Powered by
                                    TinyLetter</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <p>
                Not interested in my writing? Check out my <a href="{{ SITEURL }}/pages/blog-roll.html">Blog Roll (so turn of the century)</a>
            </p>
        </div>
        {% endblock %}
    </div>
</section>
<section class="uk-section">
    <div class="uk-container uk-width-2-3@m uk-margin-auto">
        {% for article in articles_page.object_list %}
        <article class="uk-article uk-width-1-1 uk-text-left">
            <div uk-grid>
                <header class="uk-width-1-1 uk-width-3-4@m">
                    <h2 class="smc uk-article-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                        title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                </header>
                <footer class="uk-width-1-1 uk-width-1-4@m uk-text-left uk-text-right@m uk-article-meta uk-text-light">
                    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                </footer>
            </div>
            <div class="uk-margin-medium">{{ article.summary }}</div>
            <div class="uk-text-muted uk-text-light smc"> {% for tag in article.tags %}{{ tag }}{{ ", " if not
                loop.last else "" }}{% endfor %}</div>
        </article>
        {% if not loop.last %}
        <hr class="uk-divider-icon uk-width-1-1 uk-margin-auto">
        {% endif %}
        {% endfor %}
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    </div>
</section>
<section class="uk-section uk-section-muted">
    <div class="uk-container uk-width-2-3@m uk-margin-auto">
        <h4 class="uk-h4">Article Tags</h4>
        <div class="uk-text-muted">
            {% for tag, articles in tags|sort %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="uk-link-muted uk-text-capitalize">{{ tag }}</a>{{ ", " if not loop.last else "" }}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}