{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ tag }} tag{% endblock %}
<!-- 
{% block content_title %}
{% endblock %} -->

{% block breadcrumbs %}
<ul class="uk-breadcrumb">
  <li><a href="{{ SITEURL }}/index.html">Home</a></li>
  <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
  <li><span>{{ tag }}</span></li>
</ul>
{% endblock %}

{% block content %}
<section class="uk-section">
    <div class="uk-container uk-width-2-3">
        <h3>Articles tagged with <span class="uk-text-italic">{{ tag }}</span></h3>
        <ul class="uk-list uk-list-divider">
        {% for article in articles_page.object_list %}
                <li><article class="uk-article">
                        <div class="uk-flex uk-flex-top uk-margin-bottom" uk-grid>
                            <header class="uk-width-3-4@m">
                                <h4 class="uk-article-title smc"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h4>
                            </header>
                            <footer class="uk-width-1-4@m uk-text-right uk-article-meta uk-text-light">
                                <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                            </footer><!-- /.post-info -->
                        </div>
                        <div> {{ article.summary }} </div><!-- /.entry-content -->
                </article></li>
        {% endfor %}
        </ul><!-- /#posts-list -->
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    </div>
</section><!-- /#content -->
<section class="uk-section uk-section-muted">
    <div class="uk-container uk-width-2-3">
        <h4 class="uk-heading-4">Article Tags</h4>
        {% for tag_name, articles in tags|sort %}
        <a href="{{ tag_name.slug }}.html" class="uk-link-muted uk-text-capitalize">{{ tag_name }}</a>{{ ", " if not loop.last else "" }}
        {% endfor %}
    </div>
</section>
{% endblock %}