html {
  font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 28px;
  background-color: white;
  color: #111;
}

/* this was in default.css but I had to move here 
in order to have media tag too */
.highlight pre, pre, .highlight .hll {
    font-size: 22px;
    background-color: #f8f8f8;
    padding: 10px 10px;
    border-radius: 2px;
}


@media screen and (min-width: 1200px) {
    html {
      font-size: 14px;
    }
    .highlight pre, pre, .highlight .hll {
        font-size: 12px;
    }
}
  

h1, h2, h3, h4, h5, h6, .uk-heading-large, .uk-heading-medium, .uk-heading-small {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

.smc {
    font-variant: small-caps;
}

.highlight pre, pre {
    border: 0;
}

pre.code-output {
    background-color: white !important;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    margin-top: -22px;
}

.caption {
    color: #333333;
    font-size: 0.8rem;
    text-align: center !important;
}

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

