---
layout: default
title: Tales from Diverse Spaces
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 5
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 5  # The number of links after the current page
---

<div class="post">

  <div class="header-bar">
    <h1>{{ site.blog_name }}</h1>
    <h2>{{ site.blog_description }}</h2>
    <form style="text-align:center;margin-top:1em;" action="https://tinyletter.com/liebscher" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/liebscher', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <p><label for="tlemail">Subscribe for a notification when a new article is published:</label></p>
      <p><input type="text" style="width:200px" name="email" id="tlemail" placeholder="name@email.com"/></p>
      <input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" />
      <p><a href="https://tinyletter.com" target="_blank" style="font-size:70%;">powered by TinyLetter</a></p>
    </form>

  </div>


  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
        <p>{{ post.description }}</p>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
